@page
@model WebApplication.Website.indexModel
@{
    ViewData["Title"] = "index";
}

<h1>P E O P L E</h1>
<div class="card-columns">
    @foreach (var person in Model.People)
    {
    <div class="card">
        <div class="card-header">@person.Name</div>
        <div class="card-body">
            <p style="font-size:small">POSITION: @person.Position</p>
            <p style="font-size:small">COMPANY: @person.Company</p>
        </div>
    </div>
    }
</div>